#fss-live-preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.75);
    border-radius: 0.8em;
    padding: 0.4em;
    margin: 0.25em auto;
    max-width: 30em;
    max-height: 22.5em;
    transition: opacity 0.4s ease;
    z-index: 100;
}
#fss-live-preview[style*="display: none"] {
    pointer-events: none;
}
#fss-live-preview img {
    border-radius: 0.5em;
    object-fit: contain;
    width: 100%;
    max-height: 21em;
    object-fit: contain;
}
