#fss-live-preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    border-radius: 12px;
    padding: 8px;
    margin: 8px auto;
    max-width: 660px;
    transition: opacity 0.5s ease;
}
#fss-live-preview img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}
